{% extends 'AppKyle/base.html' %}

{% load static %}


{% block main %}


<section id="scroll">
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6 order-lg-1">
                <div class="p-5">
                    <p class="display-6">Resultado de la busqueda:</p>
                    <ul class="table-responsive">
                        {% for articulo in articulo %}
                            <div class="card" style="width: 18rem;">
                                <div class="card-body">
                                    <h5 class="card-title">{{articulo.producto}}</h5>
                                    <h6 class="card-subtitle mb-2 text-muted">${{articulo.precio}}</h6>
                                </div>
                            </div>
                        {% endfor %}
                    </ul>
            
                    <a class="btn btn-primary rounded-pill mt-5" href="{% url 'BuscarArticulos' %}">Nueva busqueda</a> 
                    <a class="btn btn-primary rounded-pill mt-5" href="{% url 'Articulos' %}">Volver a articulos</a> 
                    <a class="btn btn-primary rounded-pill mt-5" href="{% url 'Inicio' %}">Ir al inicio</a> 
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock main %}