{% extends 'AppKyle/base.html' %}

{% load static %}


{% block main %}


        <section id="scroll">
            <div class="container px-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6 order-lg-1">
                        <div class="p-5">
                            <p class="display-6">Se registro el gasto de {{gasto.detalle}}.</p>
                            <a class="btn btn-primary rounded-pill mt-5" href="{% url 'AgregarGastos' %}">Agregar nuevo gasto</a> 
                            <a class="btn btn-primary rounded-pill mt-5" href="{% url 'Gastos' %}">Volver a gastos</a> 
                            <a class="btn btn-primary rounded-pill mt-5" href="{% url 'Inicio' %}">Ir al inicio</a> 
                        </div>
                </div>
            </div>
        </section>


{% endblock main %}