{% extends 'AppKyle/base.html' %}

{% load static %}

{% block main %}


        <!-- Content section 1-->
        <section id="scroll">
            <div class="container px-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6 order-lg-2">
                        <div class="p-5"><img class="img-fluid rounded-circle" src="{% static 'AppKyle/assets/img/01.jpg' %}" alt="..." /></div>
                    </div>
                    <div class="col-lg-6 order-lg-1">
                        <div class="p-5">
                            <h2 class="display-4">Gastos</h2>
                            <p>Desde acá vamos a manejar los gastos.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>


{% endblock main %}